.errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.errorHeading {
    font-size: 36px;
    color: #ff0000;
}

.errorMessage {
    font-size: 18px;
    margin-top: 16px;
    color: #333;
}