$bg-gray: #f8f8f8;
$bg-white: #ffffff;

$text-black: #010103;
$text-orange: #ff4d30;
$btn-black: #161616;
$text-gray: #706f7b;

$h1-size: 5.2rem;
$h2-size: 4.2rem;
$h3-size: 2.4rem;
$h4-size: 2.2rem;
$p-size: 1.6rem;
$input-size: 1.4rem;

$titles-font: "Poppins", sans-serif;
$text-font: "Rubik", sans-serif;

.container {
    max-width: 133rem !important;
    padding: 0 20px !important;
    margin-left: 150px;
    margin-right: 150px;
}

.heroSection {
    width: 100%;
    height: 97vh;
    background-color: white;
    position: relative;
}

.bgShape {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.heroContent {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.heroText {
        display: flex;
        flex-direction: column;
        z-index: 3;
        max-width: 30rem;
        margin-top: 5rem;
        user-select: none;
}

                .heroTextH4 {
            font-size: $h4-size;
            font-family: $text-font;
            font-weight: 700;
            color: $text-black;
            user-select: none;
        }

        .heroTextH1 {
            font-size: $h1-size;
            font-family: $titles-font;
            font-weight: 700;
            color: $text-black;
            line-height: 1.2;
            margin-top: 1rem;
            margin-bottom: 2.3rem;
            user-select: none;
        }

        .heroTextSpan {
                color: $text-orange;
                user-select: none;
        }

                .heroTextP {
            font-size: $p-size;
            font-family: $text-font;
            line-height: 1.6;
            color: $text-gray;
            margin-bottom: 4rem;
            user-select: none;
        }


    .carImg {
        z-index: 2;
        position: absolute;
        right: -60px;
        width: 65%;
        margin-top: 5rem;
    }


.heroBtn {
    display: flex;
    padding: 1.8rem 3rem;
    background-color: #ff4d30;
    text-align: center;
    align-items: center;
    font-family: $titles-font;
    font-weight: 700;
    position: absolute;
    top: 825px;
    left: 0;
    cursor: pointer;
    text-decoration: none;
    color: white;
    z-index: 10;
    border-radius: 12px;
    transition: all 0.3s;

    &:hover {
        background-color: #ff3e40;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}
.scrollUp {
    position: fixed;
    font-size: 2.5rem;
    color: white;
    background-color: $text-orange;
    border: 3px solid white;
    width: 2rem;
    height: 2rem;
    bottom: 5rem;
    right: 5rem;
    z-index: 20;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    cursor: pointer;
}

.showScroll {
    display: flex;
}
