.card {
    width: 274px;
    height: 426px;
}

.img {
    width: 274px;
    height: 268px;
    object-fit: cover;
    border-radius: 14px;
    background: linear-gradient(180deg, rgba(18, 20, 23, 0.50) 2.5%, rgba(18, 20, 23, 0.00) 41.07%), #F3F3F2;
}

.btn {
    width: 274px;
    height: 44px;
    padding: 12px 99px;
    border-radius: 12px;
    background: #3470FF;
}