.form_conteiner {
    display: flex;
    gap: 18px;
    justify-content: center;
    padding: 50px;
}

.label {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #8A8A89;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
}

.input {
    font-family: 'Rubik';
    position: relative;
    height: 48px;
    margin-top: 8px;
    outline: none;
    border: none;
    border-radius: 14px;
    background: #F7F7FB;
    color: #121417;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
}

.brand_input {
    font-family: 'Rubik';
    width: 224px;
    padding-left: 18px;
    appearance: none;
}

.price_input {
    font-family: 'Rubik';
    width: 125px;
    padding-left: 18px;
    appearance: none;
}

.mileage {
    width: 160px;
    height: 48px;
    margin-top: 8px;
    outline: none;
    border: none;
    background: #F7F7FB;
    color: #121417;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
}

.min {
    position: absolute;
    top: 0;
    left: 0;
}

.btn {
    margin-top: auto;
    width: 136px;
    height: 48px;
    border: none;
    padding: 14px 44px;
    border-radius: 12px;
    background: #ff4d30;
    color: #FFF;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    transition: all, 0.3s;
    cursor: pointer;

    &:hover {
        background-color: #ff3e40;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}


.options_conteiner {
    background-color: #0B44CD;
}

.custom,
.custom_price {
    &__control {
        width: 224px;
        position: relative;
        height: 48px;
        margin-top: 8px;
        outline: none;
        border: none;
        border-radius: 14px;
        background: #F7F7FB;
        color: #121417;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.11;
        padding-left: 18px;


        &--is-focused {
            &:hover {
                border-color: inherit;
                outline: none;
                border: none;
            }

            position: relative;
            height: 48px;
            margin-top: 8px;
            outline: none;
            border: none;
            border-radius: 14px;
            background: #F7F7FB;
            color: #121417;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.11;
            width: 224px;
            padding-left: 18px;
        }

        &--menu-is-open .custom__dropdown-indicator,
        &--menu-is-open .custom_price__dropdown-indicator {
            transform: rotate(0.5turn);
        }

    }

    &__single-value {
        color: currentColor;
        width: 100%;
    }

    &__dropdown-indicator {
        padding: 14px;
        color: #121417;
        transition: transform 200ms ease-out;
        transform: unset;
        cursor: pointer;


    }

    &__menu {
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        padding-left: 18px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-right: 8px;
        border-radius: 14px;
        border: 1px solid #1214170d;
        background: #FFF;
        box-shadow: 0px 4px 36px 0px #00000005;
    }

    &__menu-list {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &::-webkit-scrollbar {
            background-color: #fff;
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            height: 130px;
            border-radius: 10px;
            background: #1214170d;
        }

    }

    &__placeholder {
        color: #121417;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.11;
    }

    &__option {
        color: #12141733;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;

        background-color: inherit;

        &--is-focused {
            color: #121417;

            &:hover {
                color: #ff4d30;
            }
        }

    }

    &__value-container {
        cursor: text;
    }
}

.custom_price {
    &__control {
        width: 125px;
        padding-left: 43px;
    }

}

.price_span {
    position: absolute;
    top: 54%;
    left: 18px;
    color: #121417;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
}

.input_form {
    display: flex;
}

.mileage_input {
    color: inherit;
    background: 0px center;
    opacity: 1;
    padding-left: 50px;
    // width: 100%;
    grid-area: 1 / 2 / auto / auto;
    font: inherit;
    min-width: 2px;
    border: 0px;
    margin: 0px;
    outline: 0px;
    padding: 0px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
}

.mileage_conteiner {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
    width: 160px;
    height: 48px;
    padding-left: 24px;
    position: relative;
    margin-top: 8px;
    outline: none;
    border: none;
    border-radius: 14px;
    background: #F7F7FB;
    color: #121417;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
    border-right: 1px solid rgba(138, 138, 137, 0.20);
    border-radius: 14px 0px 0px 14px;

    &_right {
        border-radius: 0px 14px 14px 0px;
    }
}

.mileage_conteiner2 {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: grid;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.mileage_element {
    grid-area: 1/1/2/3;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    color: currentColor;
    width: 100%;
}

.mileage_single {
    visibility: visible;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
}