.conteiner {

    padding: 50px 129px 150px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 29px;
}

.not_have {
    font-family: 'Poppins', serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-align: center;
}

